<div class="alert alert-danger">
    <h3 class="m-0 mb-3">Hãy cấp quyền trước khi sử dụng tool</h3>
    <p class="lead">Bấm vào link bên dưới để cấp quyền</p>
    <hr/>
    <a href='{{authUrl}}' class="btn btn-danger">Cấp quyền</a>
</div>