<div class="container-fluid">
    <div class="app-info row align-items-center">
        <div class="col">
            <div class="mb-2 h3">{{{app.title}}}</div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-8 pl-0">
            <div class="app-content">
                <div class="app-editor">
                    {{> controllerBar}}
                    <div class="app-content-editor shadow border rounded p-3 mt-3" contenteditable="true">
                        {{{app.content}}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            Sidebar
        </div>
    </div>
</div>