<footer id="footer-wrapper" class='mt-3 p-3 bg-light text-dark shadow-sm'>
    <div id="copyright">
        <div class="container">
            <span>&copy; Copyright <a class='font-weight-bold d-inline-block text-danger' rel="license"
                    href="https://www.taigame.top/" target="_blank">TaiGameTop</a> - Sponsor by <a rel="license"
                    class='font-weight-bold' href="https://www.facebook.com/ductran.1561" target="_blank">Duc
                    Tran</a></span>
        </div>
    </div>
</footer>