<div class="item-msg d-flex alert alert-warning">
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="remove-msg mr-3">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Đang xóa
        </div>
        <div class="remove-success-msg mr-3">
            Xóa thành công
        </div>
    </div>
</div>
<div class="item-info d-flex alert alert-danger">
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="msg mr-3">
            Đã chọn <span class="num">0</span> bài viết
        </div>
        <div class="btn-group">
            <button id="removeItems" class="btn btn-sm btn-danger">Xóa</button>
        </div>
    </div>
</div>