<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Embed -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Main -->
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js" type='module'></script>
</head>
<body>
    <nav class="navbar mb-3 navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">DucTranSpot - TaiGameTool</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/manager">Quản lí bài viết<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/upload">Đăng bài viết</a>
                    </li>
                </ul>
                <form class="form-inline my-2 ml-3 my-lg-0">
                    <input class="form-control mr-sm-2" name='query' type="search" placeholder="Tìm kiếm bài viết ..."
                        aria-label="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
                </form>
            </div>
        </div>
    </nav>
    <main id="main-wrapper">
        <div class="container">
            {{{body}}}
        </div>
    </main>
    <footer id="footer-wrapper" class='mt-3 p-3 bg-light text-dark shadow-sm'>
        <div id="copyright">
            <div class="container">
                <span>&copy; Copyright <a class='font-weight-bold d-inline-block text-danger' rel="license" href="https://www.taigame.top/" target="_blank">TaiGameTop</a> - Sponsor by <a rel="license" class='font-weight-bold' href="https://www.facebook.com/ductran.1561" target="_blank">Duc Tran</a></span>
            </div>
        </div>
    </footer>
</body>
</html>